    .star {
      position: relative;
      display: inline-block;
      width: 0;
      height: 0;
      border-right: 50px solid transparent;
      border-bottom: 35px solid yellow;
      border-left: 50px solid transparent;
      transform: rotate(35deg);
    }

    .star::before {
      border-bottom: 40px solid yellow;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      content: "";
      position: absolute;
      top: -25px;
      left: -50px;
      transform: rotate(-35deg);
    }
