/*  your css code here. If applicable */
    .star {
      display: inline-block;
      width: 100px;
      height: 100px;
      color: yellow;
      position: relative;
    }

    .star::before,
    .star::after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
    }

    .star::before {
      left: 50%;
      border-width: 0 20px 35px 20px;
      border-color: transparent transparent yellow transparent;
      transform: rotate(35deg);
      transform-origin: 0 100%;
    }

    .star::after {
      left: 50%;
      border-width: 0 20px 35px 20px;
      border-color: transparent transparent yellow transparent;
      transform: rotate(-35deg);
      transform-origin: 0 100%;
    }
